In [2]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split
data_folder=r"/media/pratikshit/6CBAB0B1BAB078E2/DIH/DIH/dataset/bbc"
folders=["business","politics","sports","entertainment","technology"]

os.chdir(data_folder)

x=[]
y=[]

for i in folders:
    files=os.listdir(i)
    for text_files in files:
        file_path=i+"/"+text_files
        with open(file_path, 'r', errors='replace') as f:
            data=f.readlines()
        data=''.join(data)
        x.append(data)
        y.append(i)
        
data={'news':x,'type':y}  
df=pd.DataFrame(data)

df.to_csv("newdatasets.csv",index=False)

df

                                                   news        type
0     Ad sales boost Time Warner profit\n\nQuarterly...    business
1     Dollar gains on Greenspan speech\n\nThe dollar...    business
2     Yukos unit buyer faces loan claim\n\nThe owner...    business
3     High fuel prices hit BA's profits\n\nBritish A...    business
4     Pernod takeover talk lifts Domecq\n\nShares in...    business
...                                                 ...         ...
2220  BT program to beat dialler scams\n\nBT is intr...  technology
2221  Spam e-mails tempt net shoppers\n\nComputer us...  technology
2222  Be careful how you code\n\nA new European dire...  technology
2223  US cyber security chief resigns\n\nThe man mak...  technology
2224  Losing yourself in online gaming\n\nOnline rol...  technology

[2225 rows x 2 columns]